# Logs
logs
*.log
*.log.*

# compiled output
dist
tmp
out-tsc

# packages
node_modules

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode

# Yarn https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/releases
!.yarn/plugins

# System Files
.DS_Store
Thumbs.db

# misc
coverage
.eslintcache
.env
*.local
*.local.*
local/

# Svelte
/build
/.svelte-kit
/package
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Summarize logs
!/tools/summarize/summarized-data.log
!/tools/summarize/sync-icons.log
