:root {
    --accent-color: #388edb;
    --background-color: #191919;
    --border-radius: 4px;
    background-color: var(--background-color);
    color: white;
}

html {
    font-family: sans-serif;
}

body {
    height: 100%;
    scrollbar-color: var(--accent-color) transparent;
}

h1, h2, h3 {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1 {
    margin-top: 0;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

a.link {
    text-decoration: underline;
}

button.outline, a.outline {
    padding: 0.25em 1em;
    border: 1px solid var(--accent-color);
}

button.outline,
a.outline,
.focus {
    border-radius: var(--border-radius);
}

button.outline:hover,
button.outline:focus,
a.outline:hover,
a.outline:focus,
.focus:hover,
.focus:focus {
    background-color: rgb(255 255 255 / 10%);
}   

ul {
    list-style: none;
}

ul.list {
    list-style: inside;
    padding-inline-start: 1em;
}

.box-start, .box {
    border: 1px solid var(--accent-color);
    padding: .8em;
}

.box {
    border-top: none;
}

.text-icon {
    display: block;
    height: 1em;
    width: auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
